.i-pin {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    display: grid;
    text-align: center;
    align-content: center;
    grid-template-columns: 2em;
    grid-template-rows: 2em;
    margin: 0;
}

.i-pin h2 {
    color: white;
    width: max-content;
    padding: 0;
    margin: 0;
    place-self: center;
    font-size: medium;
    transform: translate(0, -1.75em);
    animation: titleEntry .25s ease-in-out;
}
.i-pin-editor {
    margin: 0;
    padding: 0;
    line-height: 0;
    left: 40%;
    bottom: 100%;
    position: absolute;
    animation: pencilEntry .25s ease-in-out;
}

@keyframes titleEntry {
    0% {
        opacity: 0;
        transform: translate(0, -1em);
    }
    100% {
        opacity: 1;
        transform: translate(0, -1.75em);
    }
}

@keyframes pencilEntry {
    0% {
        opacity: 0;
        transform: translate(0, -1em);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}